<div class="px-8 w-1/4 text-[#5f646e]">
    <div class="flex flex-col gap-4">
        <label>Sort by</label>
        <div class="border-[1px] border-[#5f646e] rounded-[10px] p-4">
            <select class="bg-[#282B30] text-[#D2D5DA] w-full outline-none text-lg">
                <option>Population</option>
                <option>Alphabetical Order</option>
                <option>Area</option>
            </select>
        </div>
    </div>
    <div class="flex flex-col gap-4 text-lg">
        <h6 class="text-base">Region</h6>
        <div class="flex items-center gap-4">
            <p class="sidebar-list">Americas</p>
            <p class="sidebar-list">Antarctic</p>
        </div>
        <div class="flex items-center gap-4">
            <p class="sidebar-list">Africa</p>
            <p class="sidebar-list">Asia</p>
            <p class="sidebar-list">Europe</p>
        </div>
        <div>
            <p>Oceania</p>
        </div>
    </div>
</div>
